body {
    background-color: #a05344;
    font-size: 100%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
}

.button {
    font-size: 2.0rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 1px solid #1779ba;
    margin-bottom: 1rem;
    color: #333;
    background-color:transparent;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #333;
    transform: translateY(-0.1);
    transition: transform 150ms;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-section{
    background-color: #734046
}

.button.clear.success{
    color: #0a0a0a;
    background-color: #e79e4f;
}

.card-divider{
    background: #e79e4f;
}

.button.hollow.warning{
    border: 1px solid #0a0a0a;
    color: #0a0a0a;
    background-color: #e79e4f;
}

h1 {
    font-weight: bold;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
  }
  
h2, h4, ol li, p, .button, .warning, .navbarBtn {
    font-family: 'Lexend Giga', sans-serif;
  }
  
.navbarBtn {  
    color: white;
  }

p {
    text-align:center;
}
    